@font-face {
  font-family: "iconfont"; /* Project id 4098145 */
  src: url('iconfont.woff2?t=1704616991875') format('woff2'),
       url('iconfont.woff?t=1704616991875') format('woff'),
       url('iconfont.ttf?t=1704616991875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-31sousuo:before {
  content: "\e604";
}

.icon-jiangxu:before {
  content: "\e708";
}

.icon-shengxu:before {
  content: "\e709";
}

.icon-addtxt:before {
  content: "\e643";
}

.icon-help:before {
  content: "\e744";
}

.icon-role:before {
  content: "\e611";
}

.icon-fenpeijiaose:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-show:before {
  content: "\e65f";
}

.icon-hide:before {
  content: "\e660";
}

.icon-lishixiao:before {
  content: "\e8bd";
}

.icon-xinjian:before {
  content: "\e64f";
}

.icon-chat:before {
  content: "\e6c3";
}

.icon-shanchu1:before {
  content: "\e64c";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-shezhi1:before {
  content: "\e8b8";
}

.icon-mobanguanli:before {
  content: "\e625";
}

.icon-liuyan1:before {
  content: "\e655";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shangchuan:before {
  content: "\e600";
}

.icon-Chat:before {
  content: "\e704";
}

.icon-chuangjian:before {
  content: "\e615";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-gongzhonghao:before {
  content: "\e653";
}

.icon-mobancaidan:before {
  content: "\e76a";
}

.icon-lishi:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\e622";
}

.icon-shezhi2:before {
  content: "\e624";
}

.icon-icon-shezhi3:before {
  content: "\e6ff";
}

.icon-lishi2:before {
  content: "\e60c";
}

.icon-mobancaidan2:before {
  content: "\e637";
}

.icon-jiantou_zuoyouqiehuan2:before {
  content: "\e609";
}

.icon-fasong:before {
  content: "\e6be";
}

.icon-jiahao:before {
  content: "\e62f";
}

.icon-arrow-correct-round:before {
  content: "\e848";
}

.icon-arrow-left-square-twofangjiantou-zuo2:before {
  content: "\e849";
}

.icon-arrow-left-topjiantou-zuoshang:before {
  content: "\e84a";
}

.icon-arrow-left-round-twoyuanjiantou-zuo2:before {
  content: "\e84b";
}

.icon-arrow-left-roundyuanjiantou-zuo:before {
  content: "\e84c";
}

.icon-arrow-downjiantou-xia3:before {
  content: "\e84d";
}

.icon-arrow-left-aquarefangjiantou-zuo:before {
  content: "\e84e";
}

.icon-arrow-right-aquarefangjiantou-you2:before {
  content: "\e84f";
}

.icon-arrow-leftdanjiantou-zuo:before {
  content: "\e850";
}

.icon-arrow-left-doubleshuangjiantou-zuo:before {
  content: "\e851";
}

.icon-arrow-left-twodanjiantou-zuo2:before {
  content: "\e852";
}

.icon-arrow-down-roundyuanjiantou-xia:before {
  content: "\e853";
}

.icon-arrow-right-round-twoyuanjiantou-you:before {
  content: "\e854";
}

.icon-arrow-right-doubleshuangjiantou-you:before {
  content: "\e855";
}

.icon-a-arrow-down-twojiantou-xia2:before {
  content: "\e856";
}

.icon-arrow-right-square-twofangjiantou-you:before {
  content: "\e857";
}

.icon-arrow-right-roundyuanjiantou-you2:before {
  content: "\e858";
}

.icon-arrow-left-downjiantou-zuoxia:before {
  content: "\e859";
}

.icon-arrow-right-topjiantou-youshang:before {
  content: "\e85a";
}

.icon-arrow-right-twojiantou-you:before {
  content: "\e85b";
}

.icon-arrow-single-downjiantou-xia:before {
  content: "\e85c";
}

.icon-arrow-upshangjiantou:before {
  content: "\e85d";
}

.icon-arrow-topzhiding:before {
  content: "\e85e";
}

.icon-arrow-single-updanjiantou-shang:before {
  content: "\e85f";
}

.icon-arrow-up-roundyuanjiantou-shang:before {
  content: "\e860";
}

.icon-arrow-up-aquarefangjiantou-shang:before {
  content: "\e861";
}

.icon-back-downfanhui3:before {
  content: "\e862";
}

.icon-a-Ascendingordershengxu:before {
  content: "\e863";
}

.icon-back-upshangyiji:before {
  content: "\e864";
}

.icon-arrow-rightjiantou-you2:before {
  content: "\e865";
}

.icon-book-normalshu2:before {
  content: "\e866";
}

.icon-book-twoshu3:before {
  content: "\e867";
}

.icon-attachmentfujian:before {
  content: "\e868";
}

.icon-closeguanbi:before {
  content: "\e869";
}

.icon-book-openshu-fankai:before {
  content: "\e86a";
}

